<style>
 #font{
      color: #2E8BC0  ;
      font-family: Arial, Helvetica, sans-serif;

    }

    #font2{
     color: #05445E  ;

    
    }
    #postion {
    position: absolute;
  left: 400;
  width: 400px;
  
    }
  
</style>


<main class="container">
    <!-- Message Area -->
    <% if(messages.length > 0) {%>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
    <% } %>

    <div class="row">
     <h1 class id="font2">Please Register</h1>
        <div class="offset-md-6 col-md-4">
            <form method="POST" autocomplete="off">

             <div class id ="postion">

                <fieldset class="form-group">
                    <label for="bio" class id="font2" >Bio: </label>
                    <input type="text" class="form-control"
                    name="bio" placeholder="Enter your bio"
                    id="bio" required> 
                </fieldset>
                <br><br><br>

                <fieldset class="form-group">
                <p class id ="font" >Select your interests:</p>
                 <input type="checkbox" id="onlineEvents" name="onlineEvents" value="onlineEvents">
                <label for="onlineEvents"> Online Events</label><br>
                <input type="checkbox" id="FoodAndDrink" name="FoodAndDrink" value="FoodAndDrink">
                <label for="FoodAndDrink"> Food and drinks</label><br>
                <input type="checkbox" id="Health" name="Health" value="Health">
                <label for="Health"> Health</label><br>
                <input type="checkbox" id="Game" name="Game" value="Game">
                <label for="Game"> Games </label><br>
                <input type="checkbox" id="Music" name="Music" value="Music">
                <label for="Music"> Music</label><br>
                <input type="checkbox" id="Dance" name="Dance" value="Dance">
                <label for="Dance"> Dance</label><br>
                <input type="checkbox" id="Education" name="Education" value="Education">
                <label for="Education"> Education</label><br>
                <input type="checkbox" id="Children" name="Children" value="Children">
                <label for="Children"> Children</label><br>
                <input type="checkbox" id="Parents" name="Parents" value="Parents">
                <label for="Parents"> Parents</label><br>
                <input type="checkbox" id="Technology" name="Technology" value="Technology">
                <label for="Technology"> Technology</label><br>
                <input type="checkbox" id="Career" name="Career" value="Career">
                <label for="Career"> Career</label>

                 </fieldset></div>

            <fieldset class="form-group">
                    <label for="firstAndLastName" class id="font2">First and Last Name : </label>
                    <input type="text" class="form-control"
                    name="firstAndLastName" placeholder="Enter First and Last Name"
                    id="firstAndLastName" required autofocus>
                </fieldset>
                <fieldset class="form-group">
                    <label for="userName" class id="font2">Username: </label>
                    <input type="text" class="form-control"
                    name="userName" placeholder="Enter username"
                    id="userName" required autofocus>
                </fieldset>

                <fieldset class="form-group">
                    <label for="password" class id="font2">Password: </label>
                    <input type="password" class="form-control"
                    name="password" placeholder="Enter password"
                    id="password" required>
                </fieldset>

                 <fieldset class="form-group">
                    <label for="password" class id="font2">Confirm Password: </label>
                    <input type="password" class="form-control"
                    name="password" placeholder="Enter password"
                    id="password" required>
                </fieldset>

                <fieldset class="form-group">
                    <label for="email" class id="font2">Email: </label>
                    <input type="email" class="form-control"
                    name="email" placeholder="Enter Email Address"
                    id="email" required>
                </fieldset>

                <fieldset class="form-group">
                    <label for="birthday" class id="font2" >Birthday: </label>
                    <input type="text" class="form-control"
                    name="birthday" placeholder="Enter your birthday"
                    id="birthday" required>
                </fieldset>

                 <fieldset class="form-group">
                    <label for="address" class id="font2" >Adress: </label>
                    <input type="text" class="form-control"
                    name="address" placeholder="Enter your streent name and number"
                    id="address" required>
                </fieldset>

                 <fieldset class="form-group">
                    <label for="city" class id="font2" >City: </label>
                    <input type="text" class="form-control"
                    name="city" placeholder="Enter your city"
                    id="city" required>
                </fieldset>
                <fieldset class="form-group">
                    <label for="city" class id="font2" >Phone Number: </label>
                    <input type="text" class="form-control"
                    name="phoneNumber" placeholder="Enter your phone number"
                    id="phoneNumber" required>
                </fieldset>
                <br><br>

                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Register">
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                </fieldset>

            </form>
        </div>
    </div>


</main>