  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <small class="navbar-text me-auto ms-auto">Copyright&nbsp;&copy;&nbsp;2021 MyEvent</small>
    </div>
  </nav>