<style>
 #font{
      color: #2E8BC0  ;
      font-family: Arial, Helvetica, sans-serif;

    }

    #font2{
     color: #05445E  ;

    
    }
    #postion {
    position: absolute;
  left: 400;
  width: 400px;
  
    }
  
</style>


<main class="container">
    <!-- Message Area -->
    <% if(messages.length > 0) {%>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
    <% } %>

    <div class="row">
     <h1 class id="font2">Please Register</h1>
        <div class="offset-md-6 col-md-4">
            <form method="POST" autocomplete="off">

             <div class id ="postion">

                <fieldset class="form-group">
                    <label for="bio" class id="font2" >Bio: </label>
                    <input type="text" class="form-control"
                    name="bio" placeholder="Enter your bio"
                    id="bio" required> 
                </fieldset>
                <br><br><br>

                <fieldset class="form-group">
                <p class id ="font" >Select your interests:</p>
                 <input type="checkbox" id="School" name="oSchool" value="School">
                <label for="School"> School Students </label><br>
                <input type="checkbox" id="College" name="College" value="College">
                <label for="College"> College Students</label><br>
                <input type="checkbox" id="Singles" name="Singles" value="Singles">
                <label for="Singles"> Singles</label><br>
                <input type="checkbox" id="Couples" name="Couples" value="Couples">
                <label for="Couples"> Couples </label><br>
                <input type="checkbox" id="LGBTQA" name="LGBTQA" value="LGBTQA">
                <label for="LGBTQA"> LGBTQA</label><br>
                <input type="checkbox" id="Culture" name="Culture" value="Culture">
                <label for="Culture"> Culture</label><br>
                <input type="checkbox" id="Newcomers" name="Newcomers" value="Newcomers">
                <label for="Newcomers"> Newcomers</label><br>
                <input type="checkbox" id="Party" name="Party" value="Party">
                <label for="Party"> Party People</label><br>
                <input type="checkbox" id="Pet" name="Pet" value="Pet">
                <label for="Pet"> Pet Owners</label><br>
                <input type="checkbox" id="Recruiters" name="Recruiters" value="Recruiters">
                <label for="Recruiters"> Recruiters</label><br>
                <input type="checkbox" id="Jobseeker" name="Jobseeker" value="Jobseeker">
                <label for="Jobseeker"> Job Seeker</label>
                <input type="checkbox" id="Profession" name="Profession" value="Profession">
                <label for="Profession"> Profession</label>
                <input type="checkbox" id="Businessowners" name="Businessowners" value="Businessowners">
                <label for="Businessowners"> Business Owners</label>
                <input type="checkbox" id="Religious" name="Religious" value="Religious">
                <label for="Religious"> Religious</label>
                <input type="checkbox" id="Languageexchange" name="Languageexchange" value="Languageexchange">
                <label for="Languageexchange"> Language Exchange</label>
                <input type="checkbox" id="Motivationalspeaker" name="Motivationalspeaker" value="Motivationalspeaker">
                <label for="Motivationalspeaker"> Motivational Speaker</label>
                <input type="checkbox" id="Anime" name="Anime" value="Anime">
                <label for="Anime"> Anime Lover</label>
                <input type="checkbox" id="Gamers" name="Gamers" value="Gamers">
                <label for="Gamers"> Gamers</label>
                <input type="checkbox" id="Movielovers" name="Movielovers" value="Movielovers">
                <label for="Movielovers"> Movie Lovers</label>
                <input type="checkbox" id="Artists" name="Artists" value="Artists">
                <label for="Artists"> Artists</label>
                <input type="checkbox" id="Bookworms" name="Bookworms" value="Bookworms">
                <label for="Bookworms"> Bookworms</label>
                <input type="checkbox" id="Cosplayers" name="Cosplayers" value="Cosplayers">
                <label for="Cosplayers"> Cosplayers</label>
                <input type="checkbox" id="Stargazing" name="Stargazing" value="Stargazing">
                <label for="Stargazing"> Star gazing</label>
                <input type="checkbox" id="Naturelovers" name="Naturelovers" value="Naturelovers">
                <label for="Naturelovers"> Nature lovers</label>
                <input type="checkbox" id="Sportsman" name="Sportsman" value="Sportsman">
                <label for="Sportsman"> Sportsman</label>
                <input type="checkbox" id="Hikers" name="Hikers" value="Hikers">
                <label for="Hikers"> Hikers</label>

                 </fieldset></div>

            <fieldset class="form-group">
                    <label for="firstAndLastName" class id="font2">First and Last Name : </label>
                    <input type="text" class="form-control"
                    name="firstAndLastName" placeholder="Enter First and Last Name"
                    id="firstAndLastName" required autofocus>
                </fieldset>
                <fieldset class="form-group">
                    <label for="userName" class id="font2">Username: </label>
                    <input type="text" class="form-control"
                    name="userName" placeholder="Enter username"
                    id="userName" required autofocus>
                </fieldset>

                <fieldset class="form-group">
                    <label for="password" class id="font2">Password: </label>
                    <input type="password" class="form-control"
                    name="password" placeholder="Enter password"
                    id="password" required>
                </fieldset>

                 <fieldset class="form-group">
                    <label for="password" class id="font2">Confirm Password: </label>
                    <input type="password" class="form-control"
                    name="password" placeholder="Enter password"
                    id="password" required>
                </fieldset>

                <fieldset class="form-group">
                    <label for="email" class id="font2">Email: </label>
                    <input type="email" class="form-control"
                    name="email" placeholder="Enter Email Address"
                    id="email" required>
                </fieldset>

                <fieldset class="form-group">
                    <label for="birthday" class id="font2" >Birthday: </label>
                    <input type="text" class="form-control"
                    name="birthday" placeholder="Enter your birthday"
                    id="birthday" required>
                </fieldset>

                 <fieldset class="form-group">
                    <label for="address" class id="font2" >Adress: </label>
                    <input type="text" class="form-control"
                    name="address" placeholder="Enter your streent name and number"
                    id="address" required>
                </fieldset>

                 <fieldset class="form-group">
                    <label for="city" class id="font2" >City: </label>
                    <input type="text" class="form-control"
                    name="city" placeholder="Enter your city"
                    id="city" required>
                </fieldset>
                <fieldset class="form-group">
                    <label for="city" class id="font2" >Phone Number: </label>
                    <input type="text" class="form-control"
                    name="phoneNumber" placeholder="Enter your phone number"
                    id="phoneNumber" required>
                </fieldset>
                <br><br>

                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Register">
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                </fieldset>

            </form>
        </div>
    </div>


</main>